In [2]:
#abc
import sqlite3
from datetime import datetime

conn = sqlite3.connect("C:\\Users\\BIG DATA\\Desktop\\car_price_db\\abc.db")
cur = conn.cursor()
count = cur.execute("SELECT count(*) FROM abc_new_all ").fetchall()[0][0]

cur.execute("SELECT * FROM abc_new_all ")

try:
    for idx, row in enumerate(cur):
#         print(row)
        data = [(row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[7],row[8],row[9],row[10],row[11],row[12],
                 datetime.fromtimestamp(row[13]),row[14],row[15],row[16],None, None)]
        
        sqliteToMySQL(data,int(count),int(idx+1))
        
except Exception as e:
    print("abc error in row{} , :".format(idx),e)
    conn.rollback()
        
conn.commit()
conn.close()

now is going on 1722,which is 39% finished

C:\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1264, "Out of range value for column 'mileage' at row 1")
  result = self._query(query)

now is going on 4380,which is 100% finished
 Insert Okay

In [1]:
from scipy import sparse

In [3]:
conn = sqlite3.connect("C:\\Users\\BIG DATA\\Desktop\\abc.db")
cur = conn.cursor()
cur.execute("SELECT mileage FROM abc_new_all where url ='https://www.abccar.com.tw/buy-car/739346';")
print(cur.fetchall())

[(164227,)]

In [3]:
#SUM
import sqlite3
from datetime import datetime
import math

conn = sqlite3.connect("C:\\Users\\BIG DATA\\Desktop\\car_price_db\\SUM.db")
cur = conn.cursor()
count = cur.execute("SELECT count(*) FROM SUM ").fetchall()[0][0]
cur.execute("SELECT * FROM SUM")

try:
    for idx, row in enumerate(cur):
#source,url,title,brand,model,doors,color,cc,transmission,equip,mileage,years,location,posttime,price,certificate,gasoline,deal,offtime 
#         print(datetime.fromtimestamp(math.floor(float(row[13]))))
        if row[10]=='':
            mileage=None
        else:
            mileage=int(row[10])
        data = [(row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[7],row[8],row[9],mileage,row[11],row[12],datetime.fromtimestamp(math.floor(float(row[13]))),row[14],row[15],row[18],row[16],None)]
        
        sqliteToMySQL(data,int(count),idx+1)
except Exception as e:
    print("SUM :",e)
    conn.rollback()
        
conn.commit()
conn.close()

now is going on 7,which is 0% finished

C:\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1265, "Data truncated for column 'title' at row 1")
  result = self._query(query)

now is going on 5684,which is 100% finished
 Insert Okay

In [4]:
#8891
import sqlite3
from datetime import datetime
import math

conn = sqlite3.connect("C:\\Users\\BIG DATA\\Desktop\\car_price_db\\8891Car.db")
cur = conn.cursor()
count = cur.execute("SELECT count(*) FROM cars0616 ").fetchall()[0][0]
cur.execute("SELECT * FROM cars0616")

try:
    for idx, row in enumerate(cur):
#source,url,title,brand,model,doors,color,cc,transmission,equip,mileage,years,location,posttime,price,certificate,gasoline,deal,offtime 
        
        data = [(row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[8],row[9],row[10],row[11],row[12],row[13],datetime.fromtimestamp(math.floor(float(row[14]))),row[15],row[16],row[7],0,None)]
        
        sqliteToMySQL(data,int(count),idx+1)
except Exception as e:
    print("8891 :",e)
    conn.rollback()

conn.commit()
conn.close()

now is going on 278,which is 0% finished

C:\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1265, "Data truncated for column 'title' at row 1")
  result = self._query(query)

now is going on 21148,which is 47% finished

C:\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1264, "Out of range value for column 'mileage' at row 1")
  result = self._query(query)

now is going on 44102,which is 100% finished
 Insert Okay

In [7]:
#HOT
import sqlite3
from datetime import datetime
import math

conn = sqlite3.connect("C:\\Users\\BIG DATA\\Desktop\\car_price_db\\HOT.db")
cur = conn.cursor()
count = cur.execute("SELECT count(*) FROM HOT ").fetchall()[0][0]
cur.execute("SELECT * FROM HOT")

try:
    for idx, row in enumerate(cur):
#source,url,title,brand,model,doors,color,cc,transmission,equip,mileage,years,location,posttime,price,certificate, gasoline,deal,offtime 

        data = [('HOT',row[1],row[2],row[3],row[4],row[5],row[6],row[7],row[8],row[9],row[10],row[11],row[12],datetime.fromtimestamp(math.floor(float(row[13]))),row[14],row[15],None,None,None)]
        
        sqliteToMySQL(data,int(count),idx+1)
except Exception as e:
    print("HOT :",e)
    conn.rollback()

conn.commit()
conn.close()

C:\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1265, "Data truncated for column 'mileage' at row 1")
  result = self._query(query)
C:\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1265, "Data truncated for column 'price' at row 1")
  result = self._query(query)

now is going on 401,which is 13% finished

KeyboardInterrupt:

In [10]:
#Yahoo
import sqlite3
from datetime import datetime
import math

conn = sqlite3.connect("C:\\Users\\BIG DATA\\Desktop\\car_price_db\\YahooCar.db")
cur = conn.cursor()
count = cur.execute("SELECT count(*) FROM Yahoo ").fetchall()[0][0]
cur.execute("SELECT * FROM Yahoo")

try:
    for idx, row in enumerate(cur):
#source,url,title,brand,model4,doors5 14,color6 11,cc7 12,transmission8 13,equip 9 16,mileage10 15,years11 9,location12 6,posttime 8,price 5,certificate 7,gasoline 10,deal,offtime 

        data = [(row[0],row[1],row[2],row[3],row[4],row[14],row[11],row[12],row[13],row[16],row[15],row[9],row[6],datetime.fromtimestamp(math.floor(int(row[8]))),row[5],row[7],row[10],None,None)]
        
        sqliteToMySQL(data,int(count),idx+1)
except Exception as e:
    print("Yahoo :",e)
    conn.rollback()

conn.commit()
conn.close()

C:\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1265, "Data truncated for column 'cc' at row 1")
  result = self._query(query)

now is going on 137,which is 3% finished

C:\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1264, "Out of range value for column 'price' at row 1")
  result = self._query(query)

now is going on 1568,which is 39% finished

C:\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1300, "Invalid utf8 character string: 'F09F93'")
  result = self._query(query)
C:\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x93\\xA2\\xE8\\xB2...' for column 'title' at row 1")
  result = self._query(query)

now is going on 1593,which is 39% finished

C:\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1366, "Incorrect string value: '\\xF0\\x9F\\x93\\xA220...' for column 'title' at row 1")
  result = self._query(query)

now is going on 4016,which is 100% finished
 Insert Okay

In [6]:
#icars
import sqlite3
from datetime import datetime
import math

conn = sqlite3.connect("C:\\Users\\BIG DATA\\Desktop\\car_price_db\\icars.db")
cur = conn.cursor()
count = cur.execute("SELECT count(*) FROM icars_clean ").fetchall()[0][0]
cur.execute("SELECT * FROM icars_clean")

try:
    for idx, row in enumerate(cur):
#source,url,title,brand,model,doors,color,cc,transmission,equip,mileage,years,location,posttime,price,certificate,gasoline,deal,offtime 

        data = [(row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[7],row[8],row[9],row[10],row[11],row[12],
                 datetime.fromtimestamp(int(row[13])),row[14],row[15],None, None, None)]
        sqliteToMySQL(data,int(count),idx+1)
except Exception as e:
    print("icars :",e)
    conn.rollback()

conn.commit()
conn.close()

now is going on 23184,which is 100% finished
 Insert Okay

In [5]:
#Ucar
import sqlite3
from datetime import datetime
import math

conn = sqlite3.connect("C:\\Users\\BIG DATA\\Desktop\\car_price_db\\Ucar.db")
cur = conn.cursor()
count = cur.execute("SELECT count(*) FROM ucar_price ").fetchall()[0][0]
brand = ['VOLVO','VW','SUZUKI','SUBARU','PORSCHE','AUDI','BENZ','BMW','LEXUS','FORD','TOYOTA','MAZDA','HONDA','MITSUBISHI','NISSAN']

cur.execute("SELECT * FROM ucar_price")

try:
    for idx, row in enumerate(cur):
#source0,url1,title2,brand,model4,doors5,color6,cc8,transmission9,equip,mileage11,years,location13,posttime14,price,certificate,gasoline,deal,offtime 

        data = [(row[0],row[1],row[2],row[3],row[4],row[5],row[6],row[8],row[9],row[10],row[11],row[12],row[13],datetime.fromtimestamp(math.floor(float(row[14]))),row[16],row[17],row[7],row[19],None)]
        
        sqliteToMySQL(data,int(count),idx+1)
except Exception as e:
    print("Yahoo :",e)
    conn.rollback()

conn.commit()
conn.close()

now is going on 4170,which is 100% finished
 Insert Okay

In [ ]:
`source` , `url` ,`title` ,`brand` ,`model` ,`doors` ,`color` ,`cc` ,`transmission` ,
`equip` ,`mileage` ,`years` ,`location` ,`posttime` ,`price` ,`certificate` ,`gasoline` ,`deal` ,`offtime`

In [9]:
import math
import pymysql
import sys
import time

class mySQL_project:
    IP = '192.168.196.36'
    passwd = 'team1'
    
def sqliteToMySQL(data,count,idx):
    conn = pymysql.connect(host=mySQL_project.IP, port=3306, user='team1', passwd=mySQL_project.passwd, db='team1',charset='utf8')
#     cur.set_character_set('utf8')
    cur = conn.cursor()
    
    sql = 'INSERT INTO final_car2 VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
    
    try:
    
        cur.executemany(sql, data )
#         time.sleep(0.3)
        printStr = 'now is going on '+str(idx)+',which is '+str(math.floor(idx/count*100))+str('% finished')
        sys.stdout.write('\r' + printStr)
        if count%50==0:
            conn.commit()
        if count == idx:
            print('\n Insert Okay')
            
    except Exception as e:
        print("sqliteToMySQL : ",e)
        conn.rollback()
    conn.commit()
    conn.close()

In [ ]:
# cur.execute('SELECT * FROM project;')