In [40]:
import pandas     
from pandas import DataFrame,Series

table=pandas.read_csv("C:\\Users\\BIG DATA\\Desktop\\VW_test.csv",sep=",",header = 0)  
table=table.fillna(0)  
result=table.sort_values(["feature","counts"], ascending=[1, 0])
# print(table)
# print(result)
max_counts=result.groupby('feature').apply(lambda t: t[t.counts==t.counts.max()]).drop_duplicates('counts')
# print(max_counts)
max_df = pandas.DataFrame(max_counts,columns = ['counts'])
print(max_df)
max_df.index = feature_list
# print(max_df.index)
print(max_df)
print()
print(max_df.loc['safe']['counts'])

                counts
feature
comfortable 35   35.28
fuelEco     46   42.45
preserve    4     0.00
safe        7    38.92
space       18   10.97
             counts
comfortable   35.28
fuelEco       42.45
preserve       0.00
safe          38.92
space         10.97

38.92

In [23]:
df = pd.DataFrame({"name":["Foo", "Foo", "Baar", "Foo", "Baar", "Foo", "Baar", "Baar"], "count_1":[5,10,12,15,20,25,30,35], "count_2" :[100,150,100,25,250,300,400,500]})
# df
a = df.groupby(["name"]).apply(lambda x: x.sort_values(["count_1"], ascending = False)).reset_index(drop=True)
print(a)

   count_1  count_2  name
0       35      500  Baar
1       30      400  Baar
2       20      250  Baar
3       12      100  Baar
4       25      300   Foo
5       15       25   Foo
6       10      150   Foo
7        5      100   Foo

In [13]:
import pandas     
from pandas import DataFrame,Series

table=pandas.read_csv("C:\\Users\\BIG DATA\\Desktop\\VW_test.csv",sep=",",header = 0)  
table=table.fillna(0)    # None補值 => 0
result=table.sort_values(["feature","counts"], ascending=[1, 0])  #pandas的sort方法  1升冪   0降冪

feature_list = ['comfortable','fuelEco','preserve','safe','space']
# print(result)

max_counts=result.groupby('feature').apply(lambda t: t[t.counts==t.counts.max()]).drop_duplicates('counts')
max_df = pandas.DataFrame(max_counts,columns = ['counts'])     #groupby('featurn) then use lambda to find max 
max_df.index = feature_list
# print(max_df)
min_counts=result.groupby('feature').apply(lambda t: t[t.counts==t.counts.min()]).drop_duplicates('counts')
min_df = pandas.DataFrame(min_counts,columns = ['counts'])
min_df.index = feature_list
# print(min_df)
    
for trait in feature_list:
    feature_max = max_df.loc[trait]['counts']                   # df.loc
#     print("這是最大值{}".format(feature_max))
    feature_min = min_df.loc[trait]['counts']
#     print("這是最小值{}".format(feature_min))
    session =(feature_max-feature_min)/4
#     print("這是區間{}".format(session))

    condition = result[result.feature == trait]['counts']      # pandas

    for i in range(len(condition)):
#         print(condition.index[i],condition.values[i])
        idx = condition.index[i]
        score = condition.values[i]
        if score == 0:
            result.set_value(idx,"rank",0)
        elif (score<= feature_max -session *0) and (score >feature_max -session*1):
            result.set_value(idx,"rank",5)
        elif (score<= feature_max -session *1) and (score >feature_max -session*2):
            result.set_value(idx,"rank",4)
        elif (score<= feature_max -session *2) and (score >feature_max -session*3):
            result.set_value(idx,"rank",3)
        elif (score<= feature_max -session *3) and (score >feature_max -session*4):
            result.set_value(idx,"rank",2)
        elif (score<= feature_max -session *4) and (score >=feature_max -session*5):
            result.set_value(idx,"rank",1)
        else: None

In [38]:
for trait in feature_list:
    condition = result[result.feature == trait]['counts']
    print(condition)

35    35.28
0     29.07
20    28.47
25    27.61
15    26.66
5     26.34
30    25.57
45    20.70
10    20.45
40    20.45
Name: counts, dtype: float64
46    42.45
41    41.88
11    40.76
31    40.33
36    35.87
16    32.98
21    32.58
1     31.33
26    30.80
6     28.41
Name: counts, dtype: float64
4     0.0
9     0.0
14    0.0
19    0.0
24    0.0
29    0.0
34    0.0
39    0.0
44    0.0
49    0.0
Name: counts, dtype: float64
7     38.92
12    34.92
47    32.67
17    32.08
27    31.63
22    30.33
2     30.07
42    29.93
32    29.09
37    24.46
Name: counts, dtype: float64
18    10.97
8     10.23
3      9.65
38     9.59
28     9.05
43     7.13
23     6.56
48     6.14
13     6.10
33     5.93
Name: counts, dtype: float64

In [8]:
from pandas import DataFrame
import pandas as pd

d = {'one':[2,3,1,4,5],
     'two':[5,4,3,2,1],
     'letter':['a','a','b','b','c']}

df = DataFrame(d)

test = df.sort_values(['one'], ascending=[False])  #False 降冪 0
print(test)

  letter  one  two
4      c    5    1
3      b    4    2
1      a    3    4
0      a    2    5
2      b    1    3

In [14]:
condition.index[3]

38

In [15]:
condition.values[3]

9.5899999999999999

In [16]:

print(result)

         Brand      feature  counts  rank
35      Nissan  comfortable   35.28   5.0
0         Benz  comfortable   29.07   4.0
20       LEXUS  comfortable   28.47   4.0
25       Mazda  comfortable   27.61   3.0
15       Honda  comfortable   26.66   3.0
5          BMW  comfortable   26.34   3.0
30  Mitsubishi  comfortable   25.57   3.0
45  Volkswagen  comfortable   20.70   2.0
10        Ford  comfortable   20.45   1.0
40      Toyota  comfortable   20.45   1.0
46  Volkswagen      fuelEco   42.45   5.0
41      Toyota      fuelEco   41.88   5.0
11        Ford      fuelEco   40.76   5.0
31  Mitsubishi      fuelEco   40.33   5.0
36      Nissan      fuelEco   35.87   4.0
16       Honda      fuelEco   32.98   3.0
21       LEXUS      fuelEco   32.58   3.0
1         Benz      fuelEco   31.33   2.0
26       Mazda      fuelEco   30.80   2.0
6          BMW      fuelEco   28.41   1.0
4         Benz     preserve    0.00   0.0
9          BMW     preserve    0.00   0.0
14        Ford     preserve    0.00   0.0
19       Honda     preserve    0.00   0.0
24       LEXUS     preserve    0.00   0.0
29       Mazda     preserve    0.00   0.0
34  Mitsubishi     preserve    0.00   0.0
39      Nissan     preserve    0.00   0.0
44      Toyota     preserve    0.00   0.0
49  Volkswagen     preserve    0.00   0.0
7          BMW         safe   38.92   5.0
12        Ford         safe   34.92   4.0
47  Volkswagen         safe   32.67   4.0
17       Honda         safe   32.08   4.0
27       Mazda         safe   31.63   3.0
22       LEXUS         safe   30.33   3.0
2         Benz         safe   30.07   3.0
42      Toyota         safe   29.93   3.0
32  Mitsubishi         safe   29.09   3.0
37      Nissan         safe   24.46   1.0
18       Honda        space   10.97   5.0
8          BMW        space   10.23   5.0
3         Benz        space    9.65   4.0
38      Nissan        space    9.59   4.0
28       Mazda        space    9.05   4.0
43      Toyota        space    7.13   2.0
23       LEXUS        space    6.56   2.0
48  Volkswagen        space    6.14   2.0
13        Ford        space    6.10   2.0
33  Mitsubishi        space    5.93   1.0