In [10]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

In [36]:
#SQLAlchemy使用Declarative system類別，用來映對Python與資料庫表格之間的關聯
#Program類別中定義 __tablename__ 屬性的值，代表它映對到資料庫(db)中的 program_popular 資料表(table)。
#Program類別繼承 Base讓 Declarative system 了解表格的欄位名稱、型態、長度以及相對應的 Python 類別。

Base = declarative_base()    # Create Program class mapping to program_popular table
class Program(Base):      #extends declarative_base()   一個class用來當ProgramDB的DAO
    # table name
    __tablename__ = 'program_popular'
    
    # List all columns
    _id = Column(Integer, primary_key=True)
    programName = Column(String)
    count = Column(Integer)
    
    def __repr__(self):        #等待被改寫的__repr__方法    
        return "<Program(programName= '%s',count= '%d')>" % (self.programName,self.count)
#__init__ & __repr__  是類別預設的方法

In [37]:
java = Program(programName='JAVA',count=1710)
java      #用__repr__印出我想知道的資訊  當我執行class  __repr__自動執行return  方便Debug

In [49]:
#介接資料庫  echo=True可以看到 SQL的指令與相關訊息
# dialect+[driver]://username:password@host:port/database
engine = create_engine('sqlite:///sqlalchemt_ProgramDB', echo=True)

In [50]:
#建立相對應表格 由metadata負責
#自動建立table
Base.metadata.create_all(engine)

2017-05-17 17:14:17,233 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-05-17 17:14:17,234 INFO sqlalchemy.engine.base.Engine ()
2017-05-17 17:14:17,235 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-05-17 17:14:17,236 INFO sqlalchemy.engine.base.Engine ()
2017-05-17 17:14:17,237 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("program_popular")
2017-05-17 17:14:17,238 INFO sqlalchemy.engine.base.Engine ()
2017-05-17 17:14:17,239 INFO sqlalchemy.engine.base.Engine
CREATE TABLE program_popular (
	_id INTEGER NOT NULL,
	"programName" VARCHAR,
	count INTEGER,
	PRIMARY KEY (_id)
)


2017-05-17 17:14:17,240 INFO sqlalchemy.engine.base.Engine ()
2017-05-17 17:14:17,307 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [52]:
#資料庫進行互動(新增、刪除、修改)就得建立 Session 
Session = sessionmaker()
Session.configure(bind=engine)   #Session與engin結合

In [53]:
Session            #類別

sessionmaker(class_='Session',bind=Engine(sqlite:///sqlalchemt_ProgramDB), autoflush=True, autocommit=False, expire_on_commit=True)

In [54]:
s = Session()     #物件
s

In [55]:
s.add(java)
s.commit()

2017-05-17 17:14:28,714 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-05-17 17:14:28,718 INFO sqlalchemy.engine.base.Engine INSERT INTO program_popular ("programName", count) VALUES (?, ?)
2017-05-17 17:14:28,720 INFO sqlalchemy.engine.base.Engine ('JAVA', 1710)
2017-05-17 17:14:28,721 INFO sqlalchemy.engine.base.Engine COMMIT

In [56]:
for row in s.query(Program).filter_by(programName='JAVA'):
    print(row, row.count)

2017-05-17 17:14:30,989 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-05-17 17:14:30,996 INFO sqlalchemy.engine.base.Engine SELECT program_popular._id AS program_popular__id, program_popular."programName" AS "program_popular_programName", program_popular.count AS program_popular_count
FROM program_popular
WHERE program_popular."programName" = ?
2017-05-17 17:14:30,998 INFO sqlalchemy.engine.base.Engine ('JAVA',)
<Program(programName= 'JAVA',count= '1710')> 1710

In [2]:
import pandas as pd

In [5]:
df = pd.read_sql("SELECT * FROM program_popular;", create_engine('sqlite:///sqlalchemt_ProgramDB', echo=False))
df     #use pandas讀取資料  => DataFrame

   _id programName  count
0    1        JAVA   1710

In [60]:
pd.DataFrame([{
    "_id": 2,
    "programName": 'C',
    "count": '1608'
}])

   _id count programName
0    2  1608           C

In [61]:
df2 = df.append(pd.DataFrame([{   #use DataFrame to append  DataFrame
    "_id": 2,
    "programName": 'C',
    "count": '1608'
}]))
df2
# type(df2)

   _id count programName
0    1  1710        JAVA
0    2  1608           C

In [62]:
df2.to_sql('user_clean', create_engine('sqlite:///sqlalchemt_ProgramDB', echo=True))

2017-05-17 17:15:27,817 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-05-17 17:15:27,819 INFO sqlalchemy.engine.base.Engine ()
2017-05-17 17:15:27,821 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-05-17 17:15:27,822 INFO sqlalchemy.engine.base.Engine ()
2017-05-17 17:15:27,823 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("user_clean")
2017-05-17 17:15:27,825 INFO sqlalchemy.engine.base.Engine ()
2017-05-17 17:15:27,828 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user_clean (
	"index" BIGINT,
	_id BIGINT,
	count TEXT,
	"programName" TEXT
)


2017-05-17 17:15:27,829 INFO sqlalchemy.engine.base.Engine ()
2017-05-17 17:15:27,889 INFO sqlalchemy.engine.base.Engine COMMIT
2017-05-17 17:15:27,890 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_user_clean_index ON user_clean ("index")
2017-05-17 17:15:27,891 INFO sqlalchemy.engine.base.Engine ()
2017-05-17 17:15:27,927 INFO sqlalchemy.engine.base.Engine COMMIT
2017-05-17 17:15:27,931 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-05-17 17:15:27,933 INFO sqlalchemy.engine.base.Engine INSERT INTO user_clean ("index", _id, count, "programName") VALUES (?, ?, ?, ?)
2017-05-17 17:15:27,934 INFO sqlalchemy.engine.base.Engine ((0, 1, 1710, 'JAVA'), (0, 2, '1608', 'C'))
2017-05-17 17:15:27,935 INFO sqlalchemy.engine.base.Engine COMMIT

In [63]:
# ORM API - SQLAlchemy : 

# Create class in python mapping to table of database
#介接資料庫 engine = create_engine('mysql+pymysql://root:'+pw+'@localhost:3306/jdbc', echo=True)
#          engine = create_engine('sqlite:///Program.sqlite3', echo=True)   
# dialect+[driver]://username:password@host:port/database
#建立table  Base.metadata.create_all(engine)
#資料庫進行互動
#Session = sessionmaker()
# Session.configure(bind=engine)   Session與engin結合

In [64]:
s.close()

2017-05-17 17:15:31,328 INFO sqlalchemy.engine.base.Engine ROLLBACK